<div id="sidebar" class="vertical-nav active">
  <div id="sidebar-collapse">
    <i class="bi bi-puzzle"></i>
  </div>

  <h2><a href="{% url 'hunt' hunt.hunt_number %}" style='text-decoration:none; color:#919191'>{{ hunt.hunt_name }}</a></h2>


  {% for episode in episodes %}
    <h3 class="episode-header">
      <a class="collapsed" data-bs-toggle="collapse" href="#collapse-episode-{{ episode.ep.ep_number }}" role="button" aria-expanded="false" aria-controls="collapseExample">
      ({{episode.solves}}/{{episode.ep.puzzle_set.count}})  {{ episode.ep.ep_name }}
      </a>
    </h3>
    <div id="collapse-episode-{{ episode.ep.ep_number }}" class="collapse list-group flex-column mb-0">
      {% for cpuzzle in episode.puz %}
          <a href="{% url 'puzzle' puzzle_id=cpuzzle.puzzle_id %}" class="list-group-item {% if puzzle and cpuzzle == puzzle %} active {% endif %}">
            <!--<b>{% cycle 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 %} :</b> -->
            {{ cpuzzle.puzzle_name }}
          </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<script type="text/javascript">
$(function() {
  // Sidebar toggle behavior
  $('#sidebar-collapse').on('click', function() {
    $('#sidebar').toggleClass('active');
  });

  $('#sidebar .list-group-item.active').parent().show()
});
</script>
