
{% extends "stats/stats_base.html" %}
{% block title %} Charts {% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}jquery.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/luxon"></script>
  <script> src="{{ STATIC_URL }}js/chartjs-adapter-luxon.js"</script>
  <script> {% include "js/charts.js" %} </script>
{% endblock includes %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 content">
      <h1 style="text-align: center;"> TODO Chaaaaaarts for the hunt '{{ hunt.hunt_name }}' ({{hunt.start_date|date:"M nS" }}) <br> Time display in the graphs are unix seconds and titles do not appear :/ </h1>
      <br>
      <table class="table table-striped table-condensed">
        <tr>
          <th>User</th>
          <th>Guesses</th>
        </tr>
        {% for da in spammers %}
        <tr>
          <td>{{forloop.counter}}: {{da.name}}</td>
          <td>{{da.c}}</td>
        </tr>
        {% endfor %}
      </table>
      <br>
      <table class="table table-striped table-condensed">
        <tr>
          <th>Teams</th>
          <th>Guesses</th>
        </tr>
        {% for da in spam_teams %}
        <tr>
          <td><a href="/stats/team/?team={{da.iid}}">{{forloop.counter}}: {{da.name}}</a></td>
          <td>{{da.c}}</td>
        </tr>
        {% endfor %}
      </table>
      
      
  <p>These charts will not automatically refresh</p>
  
  {% for ep in solve_time %}
  <canvas id="chart_teams_{{forloop.counter}}" width="800" height="450"></canvas>
  {% endfor %}
  
  <canvas id="chart_puz" width="800" height="450"></canvas>
  
  
    </div>
  </div>
</div>

{% endblock content %}
