{% extends "stats/stats_base.html" %}
{% block title %} Puzzle Stats {% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}jquery.min.js"></script>
{% endblock includes %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 content">
      <h1 style="text-align: center;"> Puzzle Stats</h1>
      <br>
      <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>Puzzle</th>
          <th>Solvers</th>
          <th>First <br>solve time</th>
          <th>Average <br>solve time</th>
          <th>Fastest</th>
          <th>Average duration</th>
          <th>Average number<br> of guesses</th>
          <th>Minimum <br>number of hints</th>
          <th>Average <br>number of hints</th>          
        </tr>
        </thead>
        {% for puz in data %}
        <tr>
          <td><a class="btn btn-secondary btn-sm active" role="button" href="/stats/puzzle/?puzzle={{puz.pk}}">{{forloop.counter}}: {{ puz.name }}</a></td>
          <td>{{ puz.success }} </td>
          <td>{{ puz.min_time|date:'H:i (D d)' }} </td>
          <td>{{ puz.av_time|date:'H:i (D d)' }} </td>
          <td>{{ puz.min_dur }} </td>
          <td>{{ puz.av_dur }} </td>
          <td>{{ puz.guesses }} </td>
          <td>{{ puz.min_hints }} </td>
          <td>{{ puz.av_hints }} </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
