{% extends "stats/stats_base.html" %}
{% block title %} Teams Stats {% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}jquery.min.js"></script>
{% endblock includes %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 content">
      <h1 style="text-align: center;"> Team Stats </h1>
      <br>
      <table class="table table-striped table-condensed table-hover ">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team</th>
          <th>Solves</th>
          <th>Last Puzzle Solved</th>
        </tr>
        </thead>
        {% for team in team_data %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><a  class="btn btn-secondary btn-sm active" role="button" href="/stats/team/?team={{team.pk}}">{{team.team_name|truncatechars:30}}</a></td>
          <td>{{team.solves}} / {{ hunt.puz }} </td>
          <td>{{team.last_time|date:"H:i (D d)" }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
