{% extends "hunt/hunt_base.html" %}
{% load hunt_tags %}
{% load crispy_forms_tags %}
{% block title %}Puzzle - {{ puzzle.puzzle_name }}{% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}js/puzzle.js"></script>
{% endblock includes %}

{% block content %}
{% include 'hunt/hunt_sidebar.html' with episodes=episodes hunt=hunt %}
<div class="puzzle-container">
  <div class="puzzle-title">
    {{ puzzle.puzzle_name }}
  </div>
  <div class="puzzle-holder">
    {{ text | safe }}
  </div>

<div id='answer-container'>
{% if status == "solved" %}
Congratulations! The answer was indeed '{{puzzle.answer}}'.
{% endif %}
</div>
  <div id="guess-bar">
    <div id="guess-feedback" class="container py-3"></div>
    <form id="guess-form" autocomplete="off" class="needs-validation">
      <div class="input-group input-group-lg has-validation">
        <input id="answer-entry" name="answer" type="text" pattern=" *[A-Za-z0-9][A-Za-z0-9 ]*" class="form-control" placeholder="Guess" aria-label="Your guess" autocomplete="off" title="guesses should only contain letters, digits and optional spaces" />
        <button class="btn btn-primary" type="submit" id="answer-button">Submit</button>
        <div class="invalid-feedback">
            Please choose a username.
        </div>
      </div>
    </form>
  </div>
</div>

<div id="right-bar" class="vertical-nav">
  <div class="right-block">
    <h3>Hints</h3>
    <ul id="hints"></ul>
  </div>

  {% if eureka %}
  <div class="right-block">
    <h3>Milestones</h3>
    <ul id="eurekas"></ul>
  </div>
  {% endif %}

  <div class="right-block">
    <h3>Guesses</h3>
    <ul id="guesses"></ul>
  </div>
</div>



{% endblock content %}
