{% extends "hunt/hunt_base.html" %}
{% load hunt_tags %}

{% block includes %}
<script type="text/javascript">
$(function() {
  // Sidebar toggle behavior
  $('#sidebar-collapse').on('click', function() {
    $('#sidebar').toggleClass('active');
  });
});
</script>
{% endblock includes %}

{% block title %}Puzzles!{% endblock title %}

{% block content %}
<div id="sidebar" class="vertical-nav active">
  <div id="sidebar-collapse">
    <i class="bi bi-puzzle"></i>
  </div>

  <h2>{{ hunt.hunt_name }}</h2>


  {% for episode in episodes %}
    <h3 class="episode-header">
      <a data-bs-toggle="collapse" href="#collapse-episode-{{ episode.ep_number }}" role="button" aria-expanded="true" aria-controls="collapseExample">
      {{ episode.ep_name }}
      </a>
    </h3>
    <div id="collapse-episode-{{ episode.ep_number }}" class="list-group flex-column mb-0">
      {% for puzzle in episode.puzzle_set.all %}
          <a href="{% url 'huntserver:puzzle' puzzle_id=puzzle.puzzle_id %}" class="list-group-item">
            {{ puzzle.puzzle_name }}
          </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<div class="side-content">
  <div class="splash">

    <div class="card">
      <div class="card-header">
        Hunt
      </div>
      <div class="card-body">
        Coucou
      </div>
    </div>
  </div>
</div>
{% endblock content %}
