{% extends "hunt/hunt_base.html" %}
{% load hunt_tags %}
{% load crispy_forms_tags %}
{% block title %}Puzzle - {{ puzzle.puzzle_name }}{% endblock title %}

{% block includes %}
<script src="{{ STATIC_URL }}huntserver/puzzle.js"></script>
{% endblock includes %}

{% block content %}
{% include 'hunt/hunt_sidebar.html' with episodes=episodes hunt=hunt %}
<div class="puzzle-container">
  <div class="puzzle-title">
    {{ puzzle.puzzle_name }}
  </div>
  <div class="puzzle-holder">
    {% if puzzle.puzzle_page_type == puzzle.LINK_PUZZLE %}
        <h4>
          This puzzle is a web-based puzzle:
          <a href="{{ PROTECTED_URL }}puzzles/{{ puzzle.puzzle_id }}/index.html">Click here to go to the puzzle.</a>
        </h4>
    {% elif puzzle.puzzle_page_type == puzzle.PDF_PUZZLE %}
        <embed width="100%" height="1000px" src="{{ PROTECTED_URL }}puzzles/{{ puzzle.puzzle_id }}.pdf" type="application/pdf"></embed>
    {% elif puzzle.puzzle_page_type == puzzle.WEB_PUZZLE %}
        {{ template }}
    {% endif %}
  </div>

  <div id="guess-bar">
    <div id="guess-feedback" class="container py-3"></div>
    <form id="guess-form" autocomplete="off" class="needs-validation">
      <div class="input-group input-group-lg has-validation">
        <input id="answer-entry" name="answer" type="text" pattern="[A-Za-z0-9 ]+" class="form-control" placeholder="Guess" aria-label="Your guess" autocomplete="off" />
        <button class="btn btn-primary" type="submit" id="answer-button">Submit</button>
        <div class="invalid-feedback">
            Please choose a username.
        </div>
      </div>
    </form>
  </div>
</div>

<div id="right-bar" class="vertical-nav">
  <div class="right-block">
    <h3>Hints</h3>
    <ul id="hints"></ul>
  </div>

  <div class="right-block">
    <h3>Milestones</h3>
    <ul id="eurekas"></ul>
  </div>

  <div class="right-block">
    <h3>Guesses</h3>
    <ul id="guesses"></ul>
  </div>
</div>


{% if puzzle.episode.hunt.is_public %}
  {% if puzzle.solution_is_webpage and puzzle.solution_resource_file != "" %}
    <a class="btn btn-default" href='{{ PROTECTED_URL }}solutions/{{ puzzle.puzzle_id }}_sol/index.html'>
        View solution
    </a>
  {% elif not puzzle.solution_is_webpage and puzzle.solution_file != "" %}
    <a class="btn btn-default" href='{{ PROTECTED_URL }}solutions/{{ puzzle.puzzle_id }}_sol.pdf'>
        View solution
    </a>
  {% else %}
    <a class="btn btn-default disabled" href='#'>
        No solution available
    </a>
  {% endif %}
{% endif %}

{% endblock content %}
