html, body { height:100%; }
body {
    display:flex;
    flex-flow:column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow:column;
}

section.vfill {
  flex-grow: 1;
}


h1 {
  color:white;
}

.light-section {
  background-color:#CCE6CA;
  color:black;
}


.form-centered {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
