main.split-hor {
  flex-flow:row;
  overflow: hidden;
}


.vertical-nav {
  background:#4a4949;
  color:#919191;
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition:margin 0.8s;
  margin-left:-17rem;
  position:relative;
  display:flex;
  flex-flow: column;
}
.vertical-nav.active {
  margin-left:0rem;
}

#sidebar-collapse {
  display: none;
  position: absolute;
  left: 17rem;
  top:0;
  background: #4a4949;
  font-size: 32px;
  padding: 0.1rem 0.5rem;
  border-bottom-right-radius: 25%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  cursor:pointer;
}

.vertical-nav h2 {
  text-align: center;
  margin:0.7rem 0rem;
  font-size:1.3rem;
  flex-shrink: 0;
}

h3.episode-header {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color:#AAA;
  font-size:90%;
  border-top: 1px solid #6865659c;
  margin-bottom:0;
}

h3.episode-header a {
  color: inherit;
  text-decoration: none;
  display: block;
  text-indent: 6px;
  padding: 0.5rem;
  position:relative;
}

h3.episode-header a::after {
  content: '▼';
  display: block;
  position: absolute;
  right: 8px;
  top: 9px;
  transition:transform 0.5s;
  text-indent:0;
  transform:rotate(180deg);
}
h3.episode-header a.collapsed::after {
  transform:rotate(0deg);
}

.vertical-nav div.list-group {
  overflow: auto;
}

.vertical-nav .list-group-item {
  background: #0d0c0c24;
  color: #828282;
  border-right: none;
  border-left: none;
  border-radius: 0;
  padding: .3rem 1rem;
  font-size: .9rem;
  border-color: #595959;
}

.vertical-nav .list-group-item.active {
  text-indent: .5rem;
  background: #313030;
  color: #bfbcbc;
}


.side-content {
  flex-grow: 1;
  display:flex;
  justify-content: center;
  align-items: center;
}


.puzzle-container {
  flex-grow:1;
  padding:1.5rem 2rem;
  display:flex;
  flex-flow:column;
  color:white;
}

.puzzle-title {
  font-size:30px;
  color:white;
  font-weight: bold;
}

.puzzle-holder {
  flex-grow:1;
}

.puzzle-holder div.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submission-bar {
  padding:1rem;
}

#right-bar {
  background:none;
  box-shadow: none;
  margin-left:0px;
}


.right-block {
  background: rgb(244, 145, 85);
  border-radius: 5px;
  margin:1rem;
  padding: 0.8rem;
  min-height: 100px;
  box-shadow: -5px 5px 6px rgba(44, 49, 44, 0.44);
}

.right-block h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: black;
  font-size: 90%;
  border-bottom: 1px solid #312c2c9c;
  margin-bottom:0.5rem;
}
